body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #1f523f;
    padding: 10px 0;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-menu li a:hover {
    background-color: #328997;
    color: #fff;
    border-radius: 4px;
}

.section {
    padding: 100px 20px;
    min-height: 100vh;
}

#home {
    background-color: #25b125;
}

#about {
    background-color: #c3b2b2;
}

#services {
    background-color: #5958a6;
}

#contact {
    background-color: #128e69;
}

.scrolled {
    background-color: #825151;
}
